name: Git Leaks

on:
  push:
    branches:
      - master

jobs:
  gitleaks:
    name: Scan fo Secrets
    runs-on: self-host
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Run Gitleaks
        uses: gitleaks/gitleaks-action@v2
        with:
          args: >
            detect
            --source=.
            --report-path=gitleaks-report.json
            --verbose
