name: Security Scan CI/CD

on:
  push:
    branches:
      - master

jobs:
  security-scan:
    runs-on: self-hosted
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Install dependencies
        - uses: actions/setup-node@v4
          with:
            node-version: 20
      - run: npm ci
      - name: Run Snyk Code Analysis
        uses: snyk/actions/node@master
        with:
          command: test
