name: Security Scan CI/CD

on:
  push:
    branches:
      - master

jobs:
  security-scan:
    runs-on: self-hosted
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Run Snyk Code Analysis
        uses: snyk/actions/node@master
        with:
          command: test


  gitleaks:
    name: Scan fo Secrets
    runs-on: self-host
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Run Gitleaks
        uses: gitleaks/gitleaks-action@v2
        with:
          args: >
            detect
            --source=.
            --report-path=gitleaks-report.json
            --verbose

  enforce-access:
    runs-on: self-hosted
    steps:
      - name: Validate GitHub Branch Protection
        uses: ossf/scorecard-action@v2.3.1
        with:
          results_file: results.json

permissions:
  contents: read
  actions: read
  checks: read
  pull-requests: read
  issues: read
  security-events: write
